<footer class="py-4 mt-auto border-top bg-body-tertiary">
  <div class="container d-flex flex-wrap justify-content-between align-items-center">
    <div class="col-md-4 d-flex align-items-center mb-3 mb-md-0">
      <span class="text-body-secondary fw-medium">
        &copy; {% now "Y" %} IT Лицеисты
      </span>
    </div>
    <ul class="nav col-md-4 justify-content-center justify-content-md-end list-unstyled d-flex gap-3">
      <li>
        <a class="text-body-secondary footer-link" href="https://t.me/kfu_luceum" title="Telegram">
          <i class="bi bi-telegram fs-5"></i>
        </a>
      </li>
      <li>
        <a class="text-body-secondary footer-link" href="https://github.com/Lyceum-KFU" title="GitHub">
          <i class="bi bi-github fs-5"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>