.idea/
__pycache__/
db.sqlite3
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/*
media/
send_mail/
static/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

*.iml
.idea/
.gradle/
build/
*/build/
local.properties
google-services.json
keystore.properties
*.jks
*.keystore

*.apk
*.ap_
*.aab
bin/
gen/
out/
.cxx/
.externalNativeBuild/
.gradle/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.navigation/
captures/