Django==5.2.7
django-active-link==0.1.8
python-dotenv==1.0.0
pillow==12.1.1
requests==2.33.1
cachetools==7.0.5
pandas==2.3.3
numpy==2.2.6
scipy==1.15.3
qrcode==7.4.2
dj-database-url==3.1.2
django-storages[s3]==1.14.6
boto3==1.42.81
gunicorn==25.3.0
whitenoise==6.12.0
psycopg2-binary==2.9.11