{% extends "base.html" %}
{% load active_link_tags %}

{% block title %}Страница не найдена{% endblock %}

{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center text-center">
  <h1 class="display-1 fw-bold text-danger">404</h1>
  <h2 class="mb-3">Упс! Страница не найдена</h2>
  <p class="mb-4 text-muted" style="font-size: 1.2rem;">
    Мы не смогли найти страницу, которую вы искали. Но вы всегда можете вернуться на главную!
  </p>
  <a href="{% url 'homepage:home' %}" class="btn btn-primary btn-lg text-light">
    На главную страницу
  </a>
</div>

{% endblock %}
